# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
venv/
env/
.venv/


# Data & checkpoints (don't commit large datasets or model weights)
checkpoints/
*.pt
*.pth
*.ckpt

# OS / editor
.DS_Store
.vscode/
.idea/
*.log
*.zip
